body {
  font-family: sans-serif;
}

h1,
h2 {
  margin-top: 0;
  white-space: nowrap;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(4, min-content);
  gap: 10px;
}

button {
  display: block;
  margin-bottom: 2px;
}

input[type="number"] {
  width: 50px;
  height: 20px;
}

#title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#status {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  min-width: 380px;
  min-height: 100px;
}

#configuration {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(11, min-content);
  gap: 10px;
  align-items: center;
}

#configuration-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#name-label {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#name {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#width-label {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

#width {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#height-label {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

#height {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

#place-doors {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

#clear-doors {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

#place-obstacles {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

#clear-obstacles {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

#place-pedestrians {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

#clear-pedestrians {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
}

#place-random-pedestrians {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
}

#n-wrapper {
  grid-column: 3 / 4;
  grid-row: 8 / 9;
  align-self: center;
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  align-items: center;
}

#n-label {
  white-space: nowrap;
}

#panic-label {
  grid-column: 1 / 3;
  grid-row: 9 / 10;
}

#panic {
  grid-column: 3 / 4;
  grid-row: 9 / 10;
}

#export {
  grid-column: 1 / 4;
  grid-row: 10 / 11;
  width: 100%;
}

#import-label {
  grid-column: 1 / 2;
  grid-row: 11 / 12;
}

#import-input {
  grid-column: 2 / 3;
  grid-row: 11 / 12;
  color: rgba(0, 0, 0, 0);
  width: 100px;
}

#import-invalid {
  color: red;
  display: none;
  grid-column: 3 / 4;
  grid-row: 11 / 12;
}

#canvas {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

#controls {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: grid;
  grid-template-areas:
    "play step complete m"
    "pause pause reset reset"
    "interval-label interval-label interval-label interval-label"
    "interval interval interval interval-value";
  gap: 10px;
}

#play {
  grid-area: play;
}

#step {
  grid-area: step;
}

#pause {
  grid-area: pause;
}

#reset {
  grid-area: reset;
}

#complete {
  grid-area: complete;
}

#m-wrapper {
  grid-area: m;
  align-self: center;
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  align-items: center;
}

#m-label {
  white-space: nowrap;
}

#interval-label {
  grid-area: interval-label;
}

#interval {
  grid-area: interval;
  height: 20px;
}

#interval-value-wrapper {
  grid-area: interval-value;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

#interval-value {
  display: inline-block;
  text-align: right;
  width: 40px;
}

#time-wrapper {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  column-gap: 30px;
  align-items: center;
}

#time-wrapper * {
  margin: 0;
}

#time-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#time {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#averageTime-label {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#averageTime-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#averageTime-value {
  display: inline-block;
  width: 40px;
}

#chart-wrapper {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}

#chart-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#chart {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#clear-chart {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#export-results {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#help-overlay {
  display: none;
  border: 2px solid black;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #ffffff;
  padding: 10px;
  overflow-y: scroll;
}

#close-help {
  position: fixed;
  top: 20px;
  right: 40px;
}

.help-image {
  border: 2px solid black;
}

#help-status {
  width: 800px;
}

#help-canvas {
  width: 500px;
}

#help-configuration {
  width: 300px;
}

#help-controls {
  width: 600px;
}

#help-chart {
  width: 800px;
}

.help-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.help-label-number {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
}

.help-label-status {
  background-color: #ffc000;
}

.help-label-configuration {
  background-color: #ff0000;
}

.help-label-controls {
  background-color: #00b050;
}

.help-label-chart {
  background-color: #4472c4;
}

#help-canvas-items {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.help-canvas-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.help-canvas-image {
  width: 200px;
}
